@use "utils" as *;
@use "variables" as *;

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-4);
  font-weight: var(--fw-normal);
  line-height: 1.5;

  background-color: var(--clr-primary-tint);

  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--sp-5);
}

label {
  display: block;
}

.input-container {
  border-radius: var(--br-2);
  border-width: 0px;
  outline: 1px solid var(--clr-grey-1);

  &:focus,
  &:hover {
    outline-color: var(--clr-primary);
  }
}
