@use "utils" as *;
@use "variables" as *;

.btn {
  width: 100%;
  padding: var(--sp-4);
  border: none;
  font: inherit;
  color: var(--clr-white);
  background-color: var(--clr-primary);

  cursor: pointer;
  border-radius: var(--br-2);

  &:hover {
    background-color: var(--clr-grey-2);
  }
}
