@use "utils" as *;
@use "variables" as *;

.consent {
  display: flex;
  align-items: center;
  gap: var(--sp-5);

  cursor: pointer;
}

.checkbox--consent {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  border: 1px solid var(--clr-grey-1);
}

.input-checkbox:checked {
  & + .checkbox--consent {
    border-color: var(--clr-primary);
    background-image: url("../assets/images/icon-checkbox-check.svg");
    background-position: center;
  }
}
